@font-face{
  font-family:Inter;
  src: url(fonts/Inter-VariableFont_slnt,wght.ttf);
}

html, body
{
  margin: 0;
  padding: 0;
  ::-webkit-scrollbar
  {
    display: none;
  }
}

.app
{
  background:
          linear-gradient(180.78deg, rgba(255, 255, 255, 0.57) -46.54%, rgba(217, 217, 217, 0) 67.16%),
          url("images/backgroundProto.png"),
          linear-gradient(110.66deg, #937CEC 6.66%, #FFFA7F 119.34%);
  background-size:cover;
  display: flex;
  //flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  //min-width: 100wh;

  .container
  {
    display: flex;
    flex-direction: column;
    min-width: 85vw;
    max-width: 90vw;
    min-height: 100vh;

    //NavBar
    .navbar
    {
      .navbar-container
      {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 3vh;
        margin-top: 3vh;
        .buttons
        {
          align-items: center;
          display: flex;
          gap: 1vw;
        }
      }
      .logo
      {
        font-size: 4vh;
        margin: 0;
        cursor: pointer;
      }
    }


    //Shared
    .inter-large-title
    {
      margin: 1vh 0 1vh 0;
      color: whitesmoke;
      font-family: 'Inter Light', serif;
      font-size:larg;
    }

    .inter-small-title
    {
      margin: 1vh 0 1vh 0;
      color: whitesmoke;
      font-family: 'Inter Light', serif;
      font-size: small;
    }

    .inter-medium-title
    {
      margin: 1vh 0 1vh 0;
      color: whitesmoke;
      font-family: 'Inter Light', serif;
      font-size: medium;
    }

    .inter-xx-large-title
    {
      margin: 1vh 0 1vh 0;
      color: whitesmoke;
      font-family: 'Inter Light', serif;
      font-size: xx-large;
      margin: 0;
    }

    .montserrat-x-large-title
    {
      margin: 1vh 0 1vh 0;
      color: whitesmoke;
      font-family: "Montserrat", serif;
      font-size: x-large;
    }

    .montserrat-light-x-large-title
    {
      margin: 1vh 0 1vh 0;
      color: whitesmoke;
      font-family: "Montserrat Light", serif;
      font-size: x-large;
    }

    .montserrat-very-large-bold-title
    {
      margin: 1vh 0 1vh 0;
      color: whitesmoke;
      font-family: "Montserrat ExtraBold", serif;
    }

    .build-buttons
    {
      font-family: "Inter Light", serif;
      font-size: small;
      min-width: 4.5vw;
      height: 4.5vh;
      border-radius: 80px;
      border: 5px solid rgba(0, 0, 0, 0);
      cursor: pointer;
      transition-duration: 0.4s;
      place-content: center;
      align-items: center;
    }

    .build-buttons:hover
    {
      background-color: #FFFA7F;
    }

    .logo
    {
      font-size: 76px;
      color: whitesmoke;
      font-family: "Montserrat ExtraBold", serif;
      cursor: pointer;
    }

    .build-form
    {
      display: flex;
      flex-direction: column;
      padding: 1.5vmax;
      gap: 1.5vmin;
      background:rgba(0,0,0,0.25);
      backdrop-filter: blur(10px);
      opacity: 99%;
      border-radius: 2vh;
      border: 1px solid rgba(0, 0, 0, 0.05);
    }

    input
    {
      font-family: "Consolas";
      border-style: none;
      border-radius: 1vh;
      min-height: 4vh;
      transition-duration: 0.4s;
    }
    input:focus
    {
      outline: none;
    }


    //Profile
    .profile
    {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      //min-height: max-content;
      //grid-template-columns: repeat(5, 1fr);
      //grid-template-rows: repeat( 3, 1fr);
      gap: 15vmax;
      .profile-card
      {
        flex: 3;
        .build-form
        {
          max-width: max-content;
          display: grid;
          grid-template-columns: repeat(2, auto);
          grid-template-rows: 1fr auto auto;
          align-items: center;
          .avatar-status
          {
            grid-column: 1;
            grid-row: 1;
            display: flex;
            align-items: center;
            gap: 2vmin;
            .avatar
            {
              aspect-ratio: 1/1;
              max-width: 8vmax;
              width: 100%;
              min-width: 8vw;
              object-fit: cover;
              border-radius: 100%;
            }
            .status-name-block
            {
              display: flex;
              .build-buttons
              {
                min-width: 2vmin;
                background-color: #01ef18;
              }
            }
        }
          .info
          {
            display: flex;
            flex-direction: column;
            padding: 2vmin;
            min-height: 5vh;
            //min-height: 75%;
            background-color: whitesmoke;
            grid-column: 1/3;
            grid-row: 2/3;
            border-radius: 1.5vh;
            font-family: "Inter", serif;
            font-size: medium;
            justify-content: space-evenly;
          }
          .edit-profile
          {
            display: flex;
            grid-column: 2;
            grid-row: 3;
            justify-content:right;
            .build-buttons
            {
              background-color: whitesmoke;
            }
          }
        }
      }
      .courses-card
      {
        display: flex;
        flex-grow: 1;
        justify-self: flex-end;
        max-width: max-content;
        max-height: fit-content;
        .build-form
        {
          width: max-content;
          height: max-content;
          min-width: 30vw;
          display: flex;
          flex-direction: column;
          .montserrat-very-large-bold-title
          {
            margin: 0;
            font-size: 4vh;
            align-self: center;
          }
          .build-wrapper
          {
            width: 100%;
            border-radius: 0;
          }
          .post
          {
            padding: 0 0 3vh 3vh;
            height: 95%;
            .build-form{
              .description{
                -webkit-line-clamp: 2;
              }
            }
          }
          .build-buttons
          {
              //justify-self: right;
              align-self: flex-end;
              
          }
        }
      }
    }
    .new-course
    {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1.5vmin;
      .course-creating-items
      {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, auto);
        align-items: center;
        gap: 1.5vmin;
        //height: 100%;
        .title-area
        {
          grid-column: 1/3;
          grid-row: 1;
          .course-title
          {
            width: 98%;
            padding-left: 1%;
            padding-right: 1%;
          }
        }
        .length-area
        {
          width: 100%;
          justify-self: right;
          grid-column: 3;
          grid-row: 1;
          .course-length
          {
            width: 92%;
            padding-left: 4%;
            padding-right: 4%;
          }
        }
        .desc-area
        {
          grid-row: 2;
          grid-column: 1/4;
          .desc{
            font-family: "Consolas";
            width: 98%;
            height: 14vh;
            border-radius: 1vh;
            outline: 0;
            resize:none;
            border: 0;
            padding: 1%;
          }
        }
        .course-details
        {
          grid-row: 3;
          grid-column: 1/4;
          display: flex;
          flex-wrap: wrap;
          gap: 1.5vmin;
          justify-content: space-between;
          .course-image
          {
            .selected-image
            {
              //max-height: 15vmax;
              max-width: 13.5vmax;
              min-width: 1vw;
              min-height: 1vh;
              border-radius: 1.5vh;
            }
          }
          .difficulty
          {
            display: flex;
            flex-direction: column;
            .form-check
            {
              label
              {
                font-family: "Inter Light";
                color: whitesmoke;
                font-size: small;
                input:checked
                {
                  background-color: #01ef18;
                  border: 0px;
                }
                input
                {
                  appearance: none;

                  border-radius: 50%;
                  aspect-ratio: 1/1;
                  min-height: 1vh;
                  //width: 10px;
                  //height: 1px;
                
                  border: 1px solid black;
                  transition: 0.2s all linear;
                  margin-right: 1vmin;
                
                  position: relative;
                  //top: 4px;
                }
              }
            }
          }
        }
      }
    }

    //Login and Register
    .login
    {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      height: 100vh;
      .build-buttons
      {
        width: 60px;
        align-self: center;
        min-height: 50px;
      }
      .build-form
      {
        padding: 20px;
        gap:20px;
        //min-width: 45vw;
        .field-name
        {
          
        }
        input
        {
          min-width: 250px;
          width: 40vw;
          align-self: center;
        }
      }
      .logo
      {
        font-size: 21 vmin;
      }
    }



    //Home
    .home
    {
      display: flex;
      //height: 100vh;
      min-height: max-content;
      align-items: center;
      .build-wrapper{
        margin: 2vh;
      }
      .post
      {
        margin: 0 0 0 3vh;
        .build-form{
          height: 56vh;
        }
      }
    }
    .build-wrapper {
      align-content: center;
      display: flex;
      flex-wrap: nowrap;
      place-self: center;
      overflow-x: auto;
      white-space: nowrap;
      scroll-behavior: auto;
      border-radius: 15px;
    }
    .post {
      .build-form {
        max-height: 56vh;
        width: 36vh;
        margin-bottom: 20px;
        .level {
          margin-top: 10px;
          margin-left: 15px;
          .inter-small-title {
            font-weight: lighter;
          }
        }
        .post-image {
          align-self: center;
          margin-top: 5px;
          width: max-content;
          height: 25vh;
          border-radius: 15px;
        }
        .title {
          margin-left: 15px;
          .inter-xx-large-title
          {
            font-size: larger;
            font-weight: bold;
            word-wrap: break-word;
            white-space: initial;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: fade();
          }
        }

        .description {
          margin-left: 15px;
          font-weight: lighter;
          word-wrap: break-word;
          white-space: initial;
          width: 33vh;
          max-height: 10vh;
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .lower-block {
          display: flex;
          margin-top: auto;
          margin-bottom: 10px;
          margin-left: 15px;
          margin-right: 15px;
          justify-content: space-between;
        }
      }
    }
    .build-wrapper::-webkit-scrollbar
    {
      width: 0;
    }






    //Footer
    .footer
    {
      margin-top: auto;
      justify-self:end;
      .footer-container
      {
        margin-top: 3vh;
        justify-content: space-between;
        margin-bottom: 3vh;
        align-items: center;
        
        .github
        {
          cursor: pointer;
          display: flex;
          gap: 1vw;
          .github-logo
          {
            //margin-bottom: 8px;
            max-height: 6vh;
          }
          .montserrat-light-x-large-title
          {
            margin: auto 0 auto 0;
          }
        }
      }
    }
  }
}